{% extends "store/main.html" %}

{% block content %}

   
     
<div class="col-lg-6" style="margin: auto;">
    <div class="box-element" id="form-wrapper" style="background-color:rgb(243, 249, 247)">
        {% if message %}
        <div class="alert alert-danger"  style="display: flex; justify-content: center; align-items: center;">{{ message }}</div>
        {% endif %} 
        <h1 style="text-align: center; padding: 20px;">Login</h1>

        <form id="form" action="{% url 'login' %}" method="post" style="padding-bottom: 15px;">
            {% csrf_token %}
            <!-- <div id="user-info"> -->
                <div class="form-field">
                    <input required class="form-control" type="text" name="username" placeholder="Name..." >
                </div>   
            <!-- </div> -->
            <!-- <div id="user-info"> -->
                <div class="form-field">
                    <input required class="form-control" type="password" name="password" placeholder="Password..." >
                </div>
            <!-- </div> -->
            <hr>
            <input id="form-button" class="btn btn-success btn-block" type="submit" value="Login">
        </form>
    </div>
    <div class="box-element" style="margin-top: 16px; display: flex; justify-content: center; align-items: center; padding: 20px;">
        Don't have an account?  &nbsp;<a href="{% url 'register' %}">Register here.</a>
    </div>
</div>

{% endblock %}